"*":
  NewTextList: [
    "%ST%0"
    "%ST%1"
    "%ST%2"
    "%ST%3"
    "%ST%4"
    "%ST%5"
    "%ST%6"
    "%ST%7"
    "%ST%8"
    "%ST%9"
    "%ST%A"
    "%ST%B"
    "%ST%C"
    "%ST%D"
    "%ST%E"
    "%ST%F"
    "%ST%G"
    "%ST%H"
    "%ST%I"
    "%ST%J"
    "%ST%K"
    "%ST%L"
    "%ST%M"
    "%ST%N"
    "%ST%O"
    "%ST%P"
    "%ST%Q"
    "%ST%R"
    "%ST%S"
    "%ST%T"
    "%ST%U"
    "%ST%V"
    "%ST%W"
    "%ST%X"
    "%ST%Y"
    "%ST%Z"
  ]
  LowerCaseFixedText: true
  UpperCaseSelectedText: false
  LinkifyFixedText: true
