"*":
  LowerCaseFixedText: true
  UpperCaseSelectedText: false
  LinkifyFixedText: true
  Templates: {
    "0": ""
    "1": ""
    "2": ""
    "3": ""
    "4": ""
    "5": ""
    "6": ""
    "7": ""
    "8": ""
    "9": ""
    "a": ""
    "b": ""
    "c": ""
    "dcb": ""
    "dcc": ""
    "dcf": ""
    "dnf": ""
    "e": ""
    "f0b": ""
    "f0e": ""
    "f0s": ""
    "f1b": ""
    "f1e": ""
    "f1s": ""
    "f2b": ""
    "f2e": ""
    "f2s": ""
    "f3b": ""
    "f3e": ""
    "f3s": ""
    "f4b": ""
    "f4e": ""
    "f4s": ""
    "f5b": ""
    "f5e": ""
    "f5s": ""
    "f6b": ""
    "f6e": ""
    "f6s": ""
    "f7b": ""
    "f7e": ""
    "f7s": ""
    "f8b": ""
    "f8e": ""
    "f8s": ""
    "f9b": ""
    "f9e": ""
    "f9s": ""
    "g": ""
    "h": ""
    "ii": ""
    "ie": ""
    "is": ""
    "j": ""
    "k": ""
    "l": ""
    "m0a": ""
    "m0b": ""
    "m0e": ""
    "m0s": ""
    "m1a": ""
    "m1b": ""
    "m1e": ""
    "m1s": ""
    "m2a": ""
    "m2b": ""
    "m2e": ""
    "m2s": ""
    "m3a": ""
    "m3b": ""
    "m3e": ""
    "m3s": ""
    "m4a": ""
    "m4b": ""
    "m4e": ""
    "m4s": ""
    "m5a": ""
    "m5b": ""
    "m5e": ""
    "m5s": ""
    "m6a": ""
    "m6b": ""
    "m6e": ""
    "m6s": ""
    "m7a": ""
    "m7b": ""
    "m7e": ""
    "m7s": ""
    "m8a": ""
    "m8b": ""
    "m8e": ""
    "m8s": ""
    "m9a": ""
    "m9b": ""
    "m9e": ""
    "m9s": ""
    "n": ""
    "o": ""
    "p": ""
    "q": ""
    "r": ""
    "s": ""
    "t": ""
    "u": ""
    "v": ""
    "w": ""
    "x": ""
    "y": ""
    "z": ""
  }
"source.python":
  LinkifyFixedText: true
  LowerCaseFixedText: true
  UpperCaseSelectedText: false
  Templates: {
    "0": ""
    "1": ""
    "2": ""
    "3": ""
    "4": ""
    "5": ""
    "6": ""
    "7": ""
    "8": ""
    "9": ""
    "a": ""
    "b": ""
    "c": "\# * "
    "dcb": "\# * %R%°\#*≈150؟%N%\# * Start of __NAME__%N%\# * %R%°\#*≈150؟%N%%ST%\# * %R%°\#*≈150؟%N%\# * End of __NAME__%N%\# * %R%°\#*≈150؟%N%"
    "dcc": "\# * %R%°\#*≈150؟%N%\# * Start of %ST%%N%\# * %R%°\#*≈150؟%N%class %ST%():%N%%T%\# fold here %R%°⟱1≈100؟%N%%T%def __init__(self, __PARMS__)%N%%T%%T%%C%pass%N%%N%%T%\# fold here %R%°⟰1≈100؟%N%\# * %R%°\#*≈150؟%N%\# * End of %ST%%N%\# * %R%°\#*≈150؟%N%"
    "dcf": "\# * %R%°\#*≈150؟%N%\# * Start of %ST%%N%\# * %R%°\#*≈150؟%N%def %ST%(self, __PARMS__):%N%%T%\# fold here %R%°⟱2≈150؟%N%%T%%C%pass%N%%T%\# fold here %R%°⟰2≈150؟%N%\# * %R%°\#*≈150؟%N%\# * End of %ST%%N%\# * %R%°\#*≈150؟%N%"
    "dnf": "\# * %R%°\#*≈150؟%N%\# * Start of %ST%%N%\# * %R%°\#*≈150؟%N%def %ST%(__PARMS__):%N%%T%\# fold here %R%°⟱1≈150؟%N%%T%%C%pass%N%%T%\# fold here %R%°⟰1≈150؟%N%\# * %R%°\#*≈150؟%N%\# * End of %ST%%N%\# * %R%°\#*≈150؟%N%%N%"
    "ed": "_dictToRtn_ = {}%N%"
    "el": "_listToRtn_ = []%N%"
    "es": "_strToRtn_ = \"\"%N%"
    "f0b": ""
    "f0e": ""
    "f0s": ""
    "f1b": "\# fold here %R%°⟱1≈150؟%N%%ST%%N%\# fold here %R%°⟰1≈150؟"
    "f1e": "\# fold here %R%°⟰1≈150؟"
    "f1s": "\# fold here %R%°⟱1≈150؟"
    "f2b": "\# fold here %R%°⟱2≈150؟%N%%ST%%N%\# fold here %R%°⟰2≈150؟"
    "f2e": "\# fold here %R%°⟰2≈150؟"
    "f2s": "\# fold here %R%°⟱2≈150؟"
    "f3b": "\# fold here %R%°⟱3≈150؟%N%%ST%%N%\# fold here %R%°⟰3≈150؟"
    "f3e": "\# fold here %R%°⟰3≈150؟"
    "f3s": "\# fold here %R%°⟱3≈150؟"
    "f4b": ""
    "f4e": ""
    "f4s": ""
    "f5b": ""
    "f5e": ""
    "f5s": ""
    "f6b": ""
    "f6e": ""
    "f6s": ""
    "f7b": ""
    "f7e": ""
    "f7s": ""
    "f8b": ""
    "f8e": ""
    "f8s": ""
    "f9b": ""
    "f9e": ""
    "f9s": ""
    "g": ""
    "h": ""
    "ie": "elif (%N%%T%%T%(%ST%%C%)%N%):%N%%T%pass"
    "ii": "if (%N%%T%%T%(%ST%%C%)%N%):%N%%T%pass"
    "is": "else:%N%%T%pass"
    "j": ""
    "k": ""
    "l": ""
    "m0a": "\#%R%° ⟰0≈80؟%N%\#%R%° 0⟱≈80؟"
    "m0b": "\#%R%° 0⟱≈80؟%N%%ST%\#%R%° ⟰0≈80؟"
    "m0e": "\#%R%° ⟰0≈80؟"
    "m0m": "\#%R%° ⟰0⟱≈56؟"
    "m0s": "\#%R%° 0⟱≈80؟"
    "m0x": "\#%R%° 0⟱≈80؟%N%%ST%\#%R%° ⟰0⟱≈56؟%N%\#%R%° ⟰0≈80؟"
    "m1a": "\#%R%° ⟰1≈80؟%N%\#%R%° 1⟱≈80؟"
    "m1b": "\#%R%° 1⟱≈80؟%N%%ST%\#%R%° ⟰1≈80؟"
    "m1e": "\#%R%° ⟰1≈80؟"
    "m1m": "\#%R%° ⟰1⟱≈56؟"
    "m1s": "\#%R%° 1⟱≈80؟"
    "m1x": "\#%R%° 1⟱≈80؟%N%%ST%\#%R%° ⟰1⟱≈56؟%N%\#%R%° ⟰1≈80؟"
    "m2a": "\#%R%° ⟰2≈80؟%N%\#%R%° 2⟱≈80؟"
    "m2b": "\#%R%° 2⟱≈80؟%N%%ST%\#%R%° ⟰2≈80؟"
    "m2e": "\#%R%° ⟰2≈80؟"
    "m2m": "\#%R%° ⟰2⟱≈56؟"
    "m2s": "\#%R%° 2⟱≈80؟"
    "m2x": "\#%R%° 2⟱≈80؟%N%%ST%\#%R%° ⟰2⟱≈56؟%N%\#%R%° ⟰2≈80؟"
    "m3a": "\#%R%° ⟰3≈80؟%N%\#%R%° 3⟱≈80؟"
    "m3b": "\#%R%° 3⟱≈80؟%N%%ST%\#%R%° ⟰3≈80؟"
    "m3e": "\#%R%° ⟰3≈80؟"
    "m3m": "\#%R%° ⟰3⟱≈56؟"
    "m3s": "\#%R%° 3⟱≈80؟"
    "m3x": "\#%R%° 3⟱≈80؟%N%%ST%\#%R%° ⟰3⟱≈56؟%N%\#%R%° ⟰3≈80؟"
    "m4a": "\#%R%° ⟰4≈80؟%N%\#%R%° 4⟱≈80؟"
    "m4b": "\#%R%° 4⟱≈80؟%N%%ST%\#%R%° ⟰4≈80؟"
    "m4e": "\#%R%° ⟰4≈80؟"
    "m4m": "\#%R%° ⟰4⟱≈56؟"
    "m4s": "\#%R%° 4⟱≈80؟"
    "m4x": "\#%R%° 4⟱≈80؟%N%%ST%\#%R%° ⟰4⟱≈56؟%N%\#%R%° ⟰4≈80؟"
    "m5a": "\#%R%° ⟰5≈80؟%N%\#%R%° 5⟱≈80؟"
    "m5b": "\#%R%° 5⟱≈80؟%N%%ST%\#%R%° ⟰5≈80؟"
    "m5e": "\#%R%° ⟰5≈80؟"
    "m5m": "\#%R%° ⟰5⟱≈56؟"
    "m5s": "\#%R%° 5⟱≈80؟"
    "m5x": "\#%R%° 5⟱≈80؟%N%%ST%\#%R%° ⟰5⟱≈56؟%N%\#%R%° ⟰5≈80؟"
    "m6a": "\#%R%° ⟰6≈80؟%N%\#%R%° 6⟱≈80؟"
    "m6b": "\#%R%° 6⟱≈80؟%N%%ST%\#%R%° ⟰6≈80؟"
    "m6e": "\#%R%° ⟰6≈80؟"
    "m6m": "\#%R%° ⟰6⟱≈56؟"
    "m6s": "\#%R%° 6⟱≈80؟"
    "m6x": "\#%R%° 6⟱≈80؟%N%%ST%\#%R%° ⟰6⟱≈56؟%N%\#%R%° ⟰6≈80؟"
    "m7a": "\#%R%° ⟰7≈80؟%N%\#%R%° 7⟱≈80؟"
    "m7b": "\#%R%° 7⟱≈80؟%N%%ST%\#%R%° ⟰7≈80؟"
    "m7e": "\#%R%° ⟰7≈80؟"
    "m7m": "\#%R%° ⟰7⟱≈56؟"
    "m7s": "\#%R%° 7⟱≈80؟"
    "m7x": "\#%R%° 7⟱≈80؟%N%%ST%\#%R%° ⟰7⟱≈56؟%N%\#%R%° ⟰7≈80؟"
    "m8a": "\#%R%° ⟰8≈80؟%N%\#%R%° 8⟱≈80؟"
    "m8b": "\#%R%° 8⟱≈80؟%N%%ST%\#%R%° ⟰8≈80؟"
    "m8e": "\#%R%° ⟰8≈80؟"
    "m8m": "\#%R%° ⟰8⟱≈56؟"
    "m8s": "\#%R%° 8⟱≈80؟"
    "m8x": "\#%R%° 8⟱≈80؟%N%%ST%\#%R%° ⟰8⟱≈56؟%N%\#%R%° ⟰8≈80؟"
    "m9a": "\#%R%° ⟰9≈80؟%N%\#%R%° 9⟱≈80؟"
    "m9b": "\#%R%° 9⟱≈80؟%N%%ST%\#%R%° ⟰9≈80؟"
    "m9e": "\#%R%° ⟰9≈80؟"
    "m9m": "\#%R%° ⟰9⟱≈56؟"
    "m9s": "\#%R%° 9⟱≈80؟"
    "m9x": "\#%R%° 9⟱≈80؟%N%%ST%\#%R%° ⟰9⟱≈56؟%N%\#%R%° ⟰9≈80؟"
    "n": "{V.CF_V.NEWLINE}"
    "o": ""
    "p": "print(f\"\"\"%ST%%C%\"\"\")"
    "q": "f\"\"\"%ST%%C%\"\"\""
    "rd": "return _dictToRtn_%N%"
    "rl": "return _listToRtn_%N%"
    "rs": "return _strToRtn_%N%"
    "s": "_strToRtn_ += f\"\"\"%ST%%C%\"\"\""
    "t": ""
    "u": ""
    "v": ""
    "w": ""
    "x": ""
    "y": "\# * %R%°*⟱*≈80؟"
    "z": "\# * %R%°*⟰*≈80؟"
  }
"source.shell":
  LowerCaseFixedText: true
  UpperCaseSelectedText: false
  LinkifyFixedText: true
  Templates: {
    "0": ""
    "1": ""
    "2": ""
    "3": ""
    "4": ""
    "5": ""
    "6": ""
    "7": ""
    "8": ""
    "9": ""
    "a": ""
    "b": ""
    "c": ""
    "d": ""
    "e": ""
    "f0b": ""
    "f0e": ""
    "f0s": ""
    "f1b": ""
    "f1e": ""
    "f1s": ""
    "f2b": ""
    "f2e": ""
    "f2s": ""
    "f3b": ""
    "f3e": ""
    "f3s": ""
    "f4b": ""
    "f4e": ""
    "f4s": ""
    "f5b": ""
    "f5e": ""
    "f5s": ""
    "f6b": ""
    "f6e": ""
    "f6s": ""
    "f7b": ""
    "f7e": ""
    "f7s": ""
    "f8b": ""
    "f8e": ""
    "f8s": ""
    "f9b": ""
    "f9e": ""
    "f9s": ""
    "g": ""
    "h": ""
    "ii": "if [[ %C% ]]%N%then%N%%T%echo ''%N%fi%N%"
    "ie": ""
    "is": ""
    "j": ""
    "k": ""
    "l": ""
    "m0a": ""
    "m0b": ""
    "m0e": ""
    "m0s": ""
    "m1a": ""
    "m1b": ""
    "m1e": ""
    "m1s": ""
    "m2a": ""
    "m2b": ""
    "m2e": ""
    "m2s": ""
    "m3a": ""
    "m3b": ""
    "m3e": ""
    "m3s": ""
    "m4a": ""
    "m4b": ""
    "m4e": ""
    "m4s": ""
    "m5a": ""
    "m5b": ""
    "m5e": ""
    "m5s": ""
    "m6a": ""
    "m6b": ""
    "m6e": ""
    "m6s": ""
    "m7a": ""
    "m7b": ""
    "m7e": ""
    "m7s": ""
    "m8a": ""
    "m8b": ""
    "m8e": ""
    "m8s": ""
    "m9a": ""
    "m9b": ""
    "m9e": ""
    "m9s": ""
    "n": ""
    "o": ""
    "p": ""
    "q": ""
    "r": ""
    "s": ""
    "t": ""
    "u": ""
    "v": ""
    "w": ""
    "x": ""
    "y": ""
    "z": ""
  }
"text.md":
  LowerCaseFixedText: true
  UpperCaseSelectedText: false
  LinkifyFixedText: true
  Templates: {
    "0": "[%ST%](\#%FT%)"
    "1": "[%ST%](./CALENDAR.md\#%FT%)"
    "2": "[%ST%](./CHARACTERS.md\#%FT%)"
    "3": "[%ST%](./CODES.md\#%FT%)"
    "4": "[%ST%](./DnDGLOSSARY.md\#%FT%)"
    "5": "[%ST%](./GLOSSARY.md\#%FT%)"
    "6": "[%ST%](./HOWIMETLIAM.md\#%FT%)"
    "7": "[%ST%](./TRANSPORTATIONGLOSSARY.md\#%FT%)"
    "8": "[%ST%](./WALKONCHARACTERS.md\#%FT%)"
    "9": ""
    "a": ""
    "b": "**%ST%**"
    "c": "~~%ST%~~"
    "d": ""
    "e": ""
    "f0b": "> R_&nbsp;&nbsp;`Liam:%ST%`: "
    "f0e": "> E_&nbsp;&nbsp;`Liam:%ST%`: "
    "f0s": "> G_&nbsp;&nbsp;`Liam:%ST%`: "
    "f1b": "> P_&nbsp;&nbsp;`Liam:%ST%`: "
    "f1e": "> PR_&nbsp;&nbsp;`Liam:%ST%`: "
    "f1s": "> GR_&nbsp;&nbsp;`Liam:%ST%`: "
    "f2b": ""
    "f2e": ""
    "f2s": ""
    "f3b": ""
    "f3e": ""
    "f3s": ""
    "f4b": ""
    "f4e": ""
    "f4s": ""
    "f5b": ""
    "f5e": ""
    "f5s": ""
    "f6b": ""
    "f6e": ""
    "f6s": ""
    "f7b": ""
    "f7e": ""
    "f7s": ""
    "f8b": ""
    "f8e": ""
    "f8s": ""
    "f9b": ""
    "f9e": ""
    "f9s": ""
    "g": ""
    "h": "***%ST%***"
    "i": "*%ST%*"
    "j": ""
    "k": ""
    "l": "> GEN_&nbsp;&nbsp;`%ST%:`: %C%"
    "m0a": "> R_&nbsp;&nbsp;`%ST%:%C%`: "
    "m0b": "> E_&nbsp;&nbsp;`%ST%:`: %C%"
    "m0e": "> G_&nbsp;&nbsp;`%ST%:%C%`: "
    "m0s": "> P_&nbsp;&nbsp;`%ST%:%C%`: "
    "m1a": "> PR_&nbsp;&nbsp;`%ST%:%C%`: "
    "m1b": "> GR_&nbsp;&nbsp;`%ST%:%C%`: "
    "m1e": "> LCL_&nbsp;&nbsp;`%ST%:`: %C%"
    "m1s": "> INT_&nbsp;&nbsp;`%ST%:`: %C%"
    "m2a": "> RE_&nbsp;&nbsp;`%ST%:%C%`: "
    "m2b": "> RS_&nbsp;&nbsp;`%ST%:%C%`: "
    "m2e": "> PHN_&nbsp;&nbsp;`%ST%:`: %C%"
    "m2s": "> PHNS_&nbsp;&nbsp;`%ST%:`: %C%"
    "m3a": "> GEN_&nbsp;&nbsp;`%ST%:`: %C%"
    "m3b": ""
    "m3e": ""
    "m3s": ""
    "m4a": "> RS_&nbsp;&nbsp;`%ST%:air`: %C%"
    "m4b": ""
    "m4e": ""
    "m4s": "> RS_&nbsp;&nbsp;`%ST%:statewide`: %C%"
    "m5a": "> R_&nbsp;……&nbsp;`%ST%:%C%`: "
    "m5b": "> E_&nbsp;……&nbsp;`%ST%:`: %C%"
    "m5e": "> G_&nbsp;……&nbsp;`%ST%:%C%`: "
    "m5s": "> P_&nbsp;……&nbsp;`%ST%:%C%`: "
    "m6a": "> PR_&nbsp;……&nbsp;`%ST%:%C%`: "
    "m6b": "> GR_&nbsp;……&nbsp;`%ST%:%C%`: "
    "m6e": "> LCL_&nbsp;……&nbsp;`%ST%:`: %C%"
    "m6s": "> INT_&nbsp;……&nbsp;`%ST%:`: %C%"
    "m7a": "> RE_&nbsp;……&nbsp;`%ST%:%C%`: "
    "m7b": "> RS_&nbsp;……&nbsp;`%ST%:%C%`: "
    "m7e": "> PHN_&nbsp;……&nbsp;`%ST%:`: %C%"
    "m7s": "> PHNS_&nbsp;……&nbsp;`%ST%:`: %C%"
    "m8a": "> GEN_&nbsp;……&nbsp;`%ST%:`: %C%"
    "m8b": ""
    "m8e": ""
    "m8s": ""
    "m9a": "> RS_&nbsp;……&nbsp;`%ST%:air`: %C%"
    "m9b": ""
    "m9e": ""
    "m9s": "> RS_&nbsp;……&nbsp;`%ST%:statewide`: %C%"
    "n": ""
    "o": "***~~%ST%~~***"
    "p": "&nbsp;&nbsp;%ST%"
    "q": ">&nbsp;&nbsp;`%ST%:%C%`: "
    "rd": "\(%ST%\)%C%"
    "rl": ""
    "rs": ""
    "s": "statewide"
    "t": "&nbsp;……&nbsp;&nbsp;……&nbsp;"
    "u": "&nbsp;……&nbsp;%ST%"
    "v": ""
    "w": ""
    "x": ""
    "y": ""
    "z": ">&nbsp;……&nbsp;%ST%: "
  }

